CONFIG_BLINK_LED_GPIO=y
CONFIG_BLINK_GPIO=8

# Required for esp_netif PPP support (ESP_NETIF_DEFAULT_PPP) used by cellular_conn.c
CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_PAP_SUPPORT=y
CONFIG_LWIP_PPP_CHAP_SUPPORT=y